 <%= render CardComponent.new do %>
  <h5 class="mb-1 text-xl font-medium text-gray-900">
    <%= render FullNameComponent.new(@contact) %>
  </h5>

  <div class="flex mt-4 space-x-3 md:mt-6">
    <%= form_with url: patients_path(contact_id: @contact.id), method: :post do |form| %>
      <%= form.button "Create Patient", class: "inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" %>
    <% end %>
  </div>    
<% end %>