<h2 class="text-lg sm:text-2xl font-extrabold">Patient Directory</h2>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 my-4 justify-items-center">
  <% @patients.each do |patient| %>
    <%= render PatientCardComponent.new(patient) %>
  <% end %>
</div>